## Empirical Exercise 2: The Great Recession in Real Time and Today

Before President Obama took office in January 2009, the U.S. had already entered a deep recession. In response, his economic advisors developed a $787 billion stimulus package—**the American Recovery and Reinvestment Act (ARRA)**—intended to reduce the severity and duration of the downturn.

Christina Romer and Jared Bernstein, two key economic advisors, [argued that ARRA](https://www.ampo.org/assets/library/184_obama.pdf) would save three to four million jobs and prevent the unemployment rate from exceeding 8 percent.

Unfortunately, that forecast proved to be overly optimistic. The unemployment rate surged to 10 percent, and **6.5 million more Americans lost their jobs than anticipated**. Their underestimation of the recession’s depth—and failure to advocate for a larger stimulus—prolonged the economic slump and sparked political disagreements that persist today. This misstep became a critical lesson, leading to a much more aggressive response to the COVID-19 recession.

*Why did Romer, Bernstein, and the broader economic community get it so wrong?*  
One hypothesis: they relied on **flawed real-time data** that failed to reflect the true scale of the crisis.

---

### Your Task

You will revisit data from January 2007 through December 2013 and compare:

- **Initial GDP growth estimates** (as seen in real-time),
- Versus the **revised and “final” estimates** available today.

You’ll use the real-time data archive from the Philly Fed to compare the information policymakers had in:
- 2009:Q1,
- 2010:Q1,
- and the present (most recent vintage).

Get the data from the Philly Fed data archive for [real output (GDP)](https://www.philadelphiafed.org/surveys-and-data/real-time-data-research/routput)

In class we will do a similar exercise with monthly [employment](https://www.philadelphiafed.org/surveys-and-data/real-time-data-research/employ). 

---

### Data Instructions

- Use *quarterly* real GDP data from January 2007 to December 2013.
- Note: GDP levels have been revised multiple times and rebased to different price indices (2005, 2009, 2012 dollars). This makes direct comparisons tricky.
  -  For GDP, in particular, the index period for the price level has changed from 2005, to 2009, to 2012 dollars throughout the series!


To account for this, you will:

- *Create an index* for each data series that shows the cumulative percent change in real GDP since 2007:Q1.
- Your graph should:
  - Use '"Quarters since January 2007"' on the x-axis,
  - And '"Cumulative percent change in real GDP"' on the y-axis.

---

### Write-Up

In a few short sentences, reflect on the significance of the data revisions:

- How might better real-time data have changed policy decisions?
- What are the risks of acting on incomplete or inaccurate information?

### Step 0: Import Libraries
Use this code to load in necessary libraries:

```python
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
```

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Step 1: Load In the Data
Use this code to load in necessary libraries:

- Begin by importing the quarterly real GDP data from the Excel file `employMvMd.xlsx`.
  - Note that in your exercise you will use `ROUTPUTQvQd.xlsx`. 
  - The data is reported in **billions of real dollars**.

```python
df = pd.read_excel('employMvMd.xlsx') 
```

In [9]:
QRGDP = pd.read_excel('ROUTPUTQvQd.xlsx')
QRGDP.head()

,DATE,ROUTPUT65Q4,ROUTPUT66Q1,ROUTPUT66Q2,ROUTPUT66Q3,ROUTPUT66Q4,ROUTPUT67Q1,ROUTPUT67Q2,ROUTPUT67Q3,ROUTPUT67Q4,...,ROUTPUT23Q2,ROUTPUT23Q3,ROUTPUT23Q4,ROUTPUT24Q1,ROUTPUT24Q2,ROUTPUT24Q3,ROUTPUT24Q4,ROUTPUT25Q1,ROUTPUT25Q2,ROUTPUT25Q3
0,1947:Q1,306.4,306.4,306.4,306.4,306.4,306.4,306.4,306.4,306.4,...,2034.5,2034.5,2182.7,2182.7,2182.7,2182.7,2182.7,2182.7,2182.7,2182.7
1,1947:Q2,309.0,309.0,309.0,309.0,309.0,309.0,309.0,309.0,309.0,...,2029.0,2029.0,2176.9,2176.9,2176.9,2176.9,2176.9,2176.9,2176.9,2176.9
2,1947:Q3,309.6,309.6,309.6,309.6,309.6,309.6,309.6,309.6,309.6,...,2024.8,2024.8,2172.4,2172.4,2172.4,2172.4,2172.4,2172.4,2172.4,2172.4
3,1947:Q4,314.5,314.5,314.5,314.5,314.5,314.5,314.5,314.5,314.5,...,2056.5,2056.5,2206.5,2206.5,2206.5,2206.5,2206.5,2206.5,2206.5,2206.5
4,1948:Q1,317.1,317.1,317.1,317.1,317.1,317.1,317.1,317.1,317.1,...,2087.4,2087.4,2239.7,2239.7,2239.7,2239.7,2239.7,2239.7,2239.7,2239.7

### Step 2: Filter and Clean `df`

- Convert the `DATE` column to a string format so that we can filter based on year, and restrict the dataset to include only data from **2007 through 2013**.
  - Try display the resulting filtered DataFrame, `df`, to verify that the date range is correct.
 
```python
df['DATE'] = df['DATE'].astype(str)
df = df[(df.DATE >= '2007') & (df.DATE < '2014')]
```

- Add a new column called `'Months Since M1 2007'` to track the number of months since the start of the sample.
  - This creates a simple numerical time index (0, 1, 2, ...) that will be used as the x-axis in your graph.
    - The first month (2007:M1) is assigned a value of 0, the next month 1, and so on.
  
```python
df['Months Since M1 2007'] = np.arange(len(df)) + 0
```

In our analysis, we want to use the values available to policymakers as of the first observations available in 2009 and 2010, and compare them to the data we hold to be `truth' as of 2025. So lets keep only those required columns. 

```python
columns_to_keep = ["DATE", "EMPLOY09M1", "EMPLOY10M1", "EMPLOY25M1","Months Since M1 2007"]
df = df[columns_to_keep]
```

Check to make sure it makes sense: 
```python
df.tail()
```

In [17]:
QRGDP.columns
QRGDP['DATE'] = QRGDP['DATE'].astype(str)
QRGDP = QRGDP[(QRGDP['DATE'] >= '2007') & (QRGDP['DATE'] <= '2013')]

QRGDP['Months Since M1 2007'] = np.arange(len(QRGDP)) + 0

QRGDP.tail()

,DATE,ROUTPUT65Q4,ROUTPUT66Q1,ROUTPUT66Q2,ROUTPUT66Q3,ROUTPUT66Q4,ROUTPUT67Q1,ROUTPUT67Q2,ROUTPUT67Q3,ROUTPUT67Q4,...,ROUTPUT23Q3,ROUTPUT23Q4,ROUTPUT24Q1,ROUTPUT24Q2,ROUTPUT24Q3,ROUTPUT24Q4,ROUTPUT25Q1,ROUTPUT25Q2,ROUTPUT25Q3,Months Since M1 2007
259,2011:Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16048.7,17222.6,17222.6,17222.6,17222.6,17222.6,17222.6,17222.6,17222.6,19
260,2012:Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16180.0,17367.0,17367.0,17367.0,17367.0,17367.0,17367.0,17367.0,17367.0,20
261,2012:Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16253.7,17444.5,17444.5,17444.5,17444.5,17444.5,17444.5,17444.5,17444.5,21
262,2012:Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16282.2,17469.7,17469.7,17469.7,17469.7,17469.7,17469.7,17469.7,17469.7,22
263,2012:Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16300.0,17489.9,17489.9,17489.9,17489.9,17489.9,17489.9,17489.9,17489.9,23

### Step 3: Convert Real GDP Levels into Cumulative Percent Changes

Our goal is to make an index that jumps off the initial value of each series and provides a comparable measure of subsequent changes in the outcome. 

- For each version of the real GDP series (from different data vintages), calculate the **cumulative percent change** since the first quarter of 2007 (2007:Q1).

- To do this, divide each value in the series by its initial value. For instance: 
  - `EMPLOY09M1` represents employment as reported in the *2009:M1 vintage*.

```python
df['EMPLOY09_pct_change'] = df['EMPLOY09M1'] / df['EMPLOY09M1'].iloc[0]
```
    And likewise for each subsequent variable.

- This normalization allows you to directly compare different data vintages, even if their starting values or units differ, by aligning them all to a common baseline of 1.0 (or 100%) in 2007:M1.

### Step 4: Visualize Cumulative Changes in Real GDP from Different Data Vintages

- Create a **line chart** to compare how real GDP growth was estimated in real time (2009 and 2010) versus how we understand it today (latest vintage).

- Plot three lines:
  - Employment from the *2009:M1 data vintage*, labeled “January 2009 Data”.
  - Employment from the *2010:M1 data vintage*, labeled “January 2010 Data".
  - Employment from the *most recent data*, labeled “Today’s Data”.
  - All lines show the *cumulative percent change* in employment since 2007:M1.

##### Plotting Instructions

```python
plt.figure(figsize=(12, 6))  
plt.plot(df['Months Since M1 2007'], df['EMPLOY09_pct_change'],
         label='January 2009 Data', color='blue', linewidth=2)
plt.plot(df['Months Since M1 2007'], df['EMPLOY10_pct_change'],
         label='January 2010 Data', color='green', linewidth=2)
plt.plot(df['Months Since M1 2007'], df['EMPLOY25_pct_change'],
         label="Today's Data", color='red', linewidth=2)
plt.xticks(df['Months Since M1 2007'][::2])  
plt.xlabel('Months since M1 2007', fontsize=14)
plt.ylabel('Cumulative Percent Change in Employment', fontsize=14)
plt.title('Real Time Economic Data Underestimated Employment during The Great Recession', fontsize=16)
plt.legend(loc='lower right')
plt.grid()
plt.tight_layout()
plt.show()
```

- Remeber you are encouraged to use online resources (AI and matplotlib documentation) to make your graphs look better!
  - *Hint:* see what `plt.grid(True, linestyle='-', alpha=0.7)` does, and what adjustments you can make.

### Step 5: Interpretation and Write-Up

After creating your graph, don’t forget to **reflect on your results** in a short written section.

Specifically, answer the following:

- *What do you observe about the differences between the early data vintages (2009 and 2010) and today’s data?*
- *How significant were the revisions to GDP growth estimates over time?*
- *If policymakers like Romer and Bernstein had access to the more accurate data we have today, how might their decisions have changed?*
- *What does this teach us about the risks of making major policy decisions based on incomplete or preliminary data?*

Your response should be concise (3–5 sentences), but thoughtful. This reflection is an important part of the assignment—it ties your analysis back to the real-world policy context.

### Step 6: Export Your Work for Submission

Your final product should be a **one-page summary brief** that includes:

- A clean, high-quality chart showing **cumulative percent changes in real GDP** from each data vintage (2009, 2010, and the latest)
- Your short written interpretation discussing the significance of the data revisions and their implications for policymaking

##### Export the Chart

Make sure to save your plot as an image or PDF and insert it into a document alongside your written explanation. You can do this using:

```python
plt.savefig("real_gdp_revisions_chart.png", dpi=300, bbox_inches='tight')